---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";
import type { Page } from "astro";

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const posts = (await getCollection("posts")).sort(
    (a, b) => Date.parse(b.data.publishedOn) - Date.parse(a.data.publishedOn),
  );

  return paginate(posts, { pageSize: 5 });
}

const { page }: { page: Page } = Astro.props;
---

<BaseLayout title="Posts">
  <div class="flex flex-col p-4 items-start min-w-full">
    <h2 class="text-3xl font-semibold">Posts</h2>
    <p class="mt-2">I occasionally write some posts.</p>
    <div class="flex flex-col gap-2 mt-4">
      {page.data.map((post) => <PostCard post={post} />)}
    </div>
    <Pagination page={page} />
  </div>
</BaseLayout>
