---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Internal Server Error">
  <div
    class="flex flex-col flex-1 gap-2 p-4 items-center justify-center text-center"
  >
    <p class="text-2xl font-bold">Internal Server Error</p>
    <p class="text-lg">
      Probably my code doesn't work, so why don't you try to <a
        href="javascript:location.reload();"
        class="text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300 transition-colors underline"
      >
        refresh
      </a>
      . You can also check the console for more details.
    </p>
  </div>
</BaseLayout>
