---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Internal Server Error">
  <div class="p-4 md:p-0 text-center max-w-md">
    <p class="text-3xl font-semibold">Internal Server Error</p>
    <p class="mt-2 text-lg text-neutral-600 dark:text-neutral-400">
      Probably my code doesn't work, so why don't you try to <a
        href="javascript:location.reload();"
        class="text-blue-600 dark:text-blue-500 hover:opacity-80 underline"
      >
        refresh</a
      >. You can also check the console for more details.
    </p>
  </div>
</BaseLayout>
