---
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<BaseLayout title="Internal Server Error">
  <div
    class="flex flex-col gap-3 items-center justify-center flex-1 p-5 text-center"
  >
    <p class="text-4xl font-bold">Internal Server Error</p>
    <p class="text-lg">
      Probably my code doesn't work, so why don't you try to <a
        href="javascript:location.reload();"
        class="text-blue-400 hover:opacity-80 underline"
      >
        refresh
      </a>
    </p>
    <p class="text-lg">
      If you are interested in why my code failed, the error is <span
        class="text-red-600 text-lg"
      >
        {error instanceof Error ? error.message : "unknown :("}
      </span>
    </p>
  </div>
</BaseLayout>
