---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<script>
  import { Typewriter } from "../lib/typewriter";

  document.addEventListener("astro:page-load", async () => {
    const words = [
      "a full stack developer.",
      "a raspberry pi enthusiast.",
      "a reckless engineer.",
      "a basketball lover.",
    ];

    const typewriterElement = document.getElementById("typewriter");
    const typewriter = new Typewriter(words);

    if (typewriterElement && !typewriter.hasElement) {
      typewriter.setElement(typewriterElement);
      typewriter.start();
    }
  });
</script>

<BaseLayout title="Home">
  <img src="/profile.png" alt="Profile image" class="size-44 rounded-full" />
  <div class="flex flex-col items-center text-center gap-1 mt-4">
    <h2 class="text-xl font-semibold text-neutral-600 dark:text-neutral-400">
      Hello, I'm
    </h2>
    <h2 class="text-4xl font-semibold">Stavros</h2>
    <div>
      <h2
        class="text-2xl h-8 font-semibold text-neutral-600 dark:text-neutral-400 inline-block align-middle"
        id="typewriter"
      >
      </h2>
      <div
        class="h-8 w-0.5 bg-neutral-700 dark:bg-neutral-300 animate-blink rounded-sm inline-block align-middle"
      >
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-row gap-2">
    <a href="https://github.com/steveiliop56">
      <div
        class="border border-neutral-200 dark:border-neutral-800 rounded-full p-2 hover:opacity-80"
      >
        <Icon name="tabler:brand-github" aria-label="Github" class="size-6" />
      </div>
    </a>
    <a href="mailto:steve@doesmycode.work">
      <div
        class="border border-neutral-200 dark:border-neutral-800 rounded-full p-2 hover:opacity-80"
      >
        <Icon name="tabler:mail" aria-label="Email" class="size-6" />
      </div>
    </a>
  </div>
</BaseLayout>
