---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<script>
  import { Typewriter } from "../lib/typewriter";

  document.addEventListener("astro:page-load", async () => {
    const words = [
      "Full Stack Developer",
      "Raspberry Pi Enthusiast",
      "Reckless Engineer",
      "Basketball Lover",
    ];

    const typewriterElement = document.getElementById("typewriter");
    const typewriter = new Typewriter(words);

    if (typewriterElement && !typewriter.hasElement) {
      typewriter.setElement(typewriterElement);
      typewriter.start();
    }
  });
</script>

<BaseLayout title="Home">
  <div class="flex flex-col items-center justify-center">
    <div class="fixed h-dvh w-full">
      <div
        class={cn(
          "absolute inset-0",
          "[background-size:40px_40px]",
          "[background-image:linear-gradient(to_right,#e5e5e5_1px,transparent_1px),linear-gradient(to_bottom,#e5e5e5_1px,transparent_1px)]",
          "dark:[background-image:linear-gradient(to_right,#171717_1px,transparent_1px),linear-gradient(to_bottom,#171717_1px,transparent_1px)]",
        )}
      >
      </div>
      <div
        class="absolute inset-0 bg-neutral-50 dark:bg-neutral-950 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,#0a0a0a)] dark:[mask-image:radial-gradient(ellipse_at_center,transparent_20%,#fafafa)]"
      >
      </div>
    </div>
    <div class="relative z-10 flex flex-col items-center text-center gap-4">
      <img
        src="/profile.png"
        alt="Profile image"
        class="size-44 rounded-full"
      />
      <div class="flex flex-col items-center text-center">
        <h1 class="text-3xl font-semibold">Hello, I am Stavros a</h1>
        <div class="flex flex-row items-center justify-center gap-0.5">
          <h1
            class="text-3xl h-9 font-semibold text-transparent bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text w-fit"
            id="typewriter"
          >
          </h1>
          <div
            class="h-[1.875rem] w-0.5 bg-neutral-800 dark:bg-neutral-300 animate-blink rounded-sm"
          >
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2 items-center justify-center">
        <a
          href="/about"
          class="drop-shadow-sm bg-neutral-50 dark:bg-neutral-950 border-[0.5px] border-neutral-200 dark:border-neutral-800 rounded-lg py-2 px-3 hover:text-neutral-700 dark:hover:text-neutral-200 transition-colors"
          >About</a
        >
        <a
          href="/posts"
          class="drop-shadow-sm bg-neutral-50 dark:bg-neutral-950 border-[0.5px] border-neutral-200 dark:border-neutral-800 rounded-lg py-2 px-3 hover:text-neutral-700 dark:hover:text-neutral-200 transition-colors"
          >Posts</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
