---
import Layout from "@/layouts/base.astro";
import { Icon } from "astro-icon/components";
import PostCard from "@/components/post-card.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project-card.astro";

const favoriteTechnologies = [
    {
        name: "Go",
        icon: "material-icon-theme:go",
    },
    {
        name: "Typescript",
        icon: "material-icon-theme:typescript",
    },
    {
        name: "React",
        icon: "material-icon-theme:react",
    },
    {
        name: "Zed",
        icon: "devicon:zed",
    },
    {
        name: "Docker",
        icon: "devicon:docker",
    },
    {
        name: "Kubernetes",
        icon: "devicon:kubernetes",
    },
];

const posts = await getCollection("blog");

posts.sort(
    (a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime(),
);
---

<Layout>
    <div class="p-8">
        <div class="mb-8">
            <h1
                class="text-xl font-bold text-neutral-800 dark:text-neutral-300 mb-2"
            >
                About me
            </h1>
            <p class="text-neutral-800 dark:text-neutral-300 mb-4">
                I am Stavros, you may have seen me around as <span
                    class="font-medium text-neutral-900 dark:text-neutral-100"
                    >@steveiliop56</span
                >. I am a 16 year old software developer based in Greece. I am
                interested in web development, self-hosting and open-source.
            </p>
            <div class="border-l-[0.25em] border-l-green-600 pl-2 py-[1em]">
                If you are seeing this, then my code probably did work!
            </div>
        </div>
        <div class="text-neutral-800 dark:text-neutral-300 mb-8">
            <h1 class="text-xl font-bold mb-2">Favorite Technologies</h1>
            <div class="mb-4">
                I use quite a few technologies, but these are the ones I enjoy
                working with the most.
            </div>
            <div class="grid grid-rows-3 grid-flow-col gap-4">
                {
                    favoriteTechnologies.map((tech) => (
                        <div class="inline-flex flex-row gap-2 items-center">
                            <Icon
                                name={tech.icon}
                                class="size-4 grayscale transition-all duration-100 hover:scale-110 hover:grayscale-0"
                            />
                            <span class="font-medium">{tech.name}</span>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="text-neutral-800 dark:text-neutral-300 mb-8">
            <h1 class="text-xl font-bold mb-2">Latest from my Blog</h1>
            <div class="mb-4">
                I sometimes write about my projects, thoughts and experiences on
                my blog.
            </div>
            <div class="grid grid-rows-1 gap-4 mb-4">
                {
                    posts.slice(0, 2).map((post, i) => (
                        <>
                            <PostCard post={post} border={false} />
                            {i != 1 && (
                                <hr class="border-neutral-300 dark:border-neutral-800" />
                            )}
                        </>
                    ))
                }
            </div>
        </div>
        <div class="text-neutral-800 dark:text-neutral-300">
            <h1 class="text-xl font-bold mb-2">Featured Project</h1>
            <div class="mb-4">I am currently working on...</div>
            <ProjectCard
                title="Tinyauth"
                description="The tiniest authentication and authorization server you have ever seen."
                image="https://github.com/tinyauthapp/tinyauth/raw/main/assets/screenshot.png"
                repo="https://github.com/tinyauthapp/tinyauth"
                website="https://tinyauth.app"
            />
        </div>
    </div>
</Layout>
