---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Projects {
  name: string;
  description: string;
  repo: string;
}

const projects: Projects[] = [
  {
    name: "Runtipi",
    repo: "runtipi/runtipi",
    description:
      "Runtipi is a homeserver for everyone! One command setup, one click installs for your favorites self-hosted apps.",
  },
  {
    name: "Tinyauth",
    repo: "steveiliop56/tinyauth",
    description: "The simplest way to protect your apps with a login screen.",
  },
  {
    name: "Tipimate",
    repo: "steveiliop56/tipimate",
    description:
      "The easiest way to get notified about updates for your Runtipi apps!",
  },
  {
    name: "Website",
    repo: "steveiliop56/steveiliop56.github.io",
    description: "My personal website.",
  },
];
---

<BaseLayout title="Projects">
  <div class="flex flex-col p-4 justify-center items-center">
    <div class="flex flex-col gap-4 items-stretch">
      <p class="text-4xl font-bold">Projects</p>
      <p>
        I have worked on a lot of project but this is a list of my favorites.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>
    </div>
  </div>
</BaseLayout>
