---
const { title } = Astro.props;

const siteTitle = import.meta.env.VITE_SITE_TITLE;
const analyticsEnable = import.meta.env.VITE_ANALYTICS_ENABLE;
---

<script>
  document.addEventListener("astro:page-load", () => {
    class AstroAnalytics extends HTMLElement {
      connectedCallback() {
        const enable = this.dataset.analyticsEnable === "true";
        if (enable) {
          const umamiAttributes = {
            src: "https://umami-analytics.runtipi.local/script.js",
            "data-website-id": "1940b296-a8c6-4663-bcb0-0ee20a0b7c97",
          };

          const umamiScript = document.createElement("script");

          Object.entries(umamiAttributes).forEach(([key, value]) =>
            umamiScript.setAttribute(key, value),
          );

          document.head.appendChild(umamiScript);
        }
      }
    }

    customElements.get("astro-analytics") ||
      customElements.define("astro-analytics", AstroAnalytics);
  });
</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta name="description" content="My code doesn't work" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<link
  rel="alternate"
  type="application/rss+xml"
  title="Doesmycode.work"
  href={new URL("rss.xml", Astro.site)}
/>

<astro-analytics data-analytics-enable={analyticsEnable}></astro-analytics>

<title>{title} | {siteTitle}</title>
