---
import { Icon } from "astro-icon/components";

const { icon, link, title } = Astro.props;
---

<a href={link}>
  <div
    class="flex items-center justify-center p-2 rounded-full bg-neutral-50 dark:bg-neutral-950 border-[0.5px] border-neutral-200 dark:border-neutral-800 hover:text-neutral-700 dark:hover:text-neutral-200 transition-colors drop-shadow-sm"
  >
    <Icon name={icon} aria-label={title} class="size-5" />
  </div>
</a>
