---
const date = new Date().getFullYear();
---

<footer
  class="w-full border-t border-neutral-200 dark:border-neutral-800 text-center p-4"
>
  <p class="font-medium">
    Copyright &copy; {date} Doesmycode.work
  </p>
</footer>
