---
import { Icon } from "astro-icon/components";
---

<footer
    class="text-neutral-600 dark:text-neutral-400 w-full p-4 md:max-w-2xl md:mx-auto"
>
    <hr class="border-neutral-300 dark:border-neutral-800 mb-4" />
    <div class="flex flex-row justify-between items-center">
        <div class="text-xs max-w-[50%]">
            Made with Astro, hosted on GitHub pages.
        </div>
        <div class="inline-flex flex-row gap-2">
            <a
                href="https://github.com/steveiliop56"
                target="_blank"
                aria-label="GitHub"
            >
                <Icon
                    name="tabler:brand-github"
                    class="size-8 hover:text-neutral-500 dark:hover:text-neutral-300 rounded-full border-neutral-300 dark:border-neutral-800 border p-2"
                />
            </a>
            <a
                href="mailto:stavros@doesmycode.work"
                target="_blank"
                aria-label="Email"
            >
                <Icon
                    name="tabler:mail"
                    class="size-8 hover:text-neutral-500 dark:hover:text-neutral-300 rounded-full border-neutral-300 dark:border-neutral-800 border p-2"
                />
            </a>
        </div>
    </div>
</footer>
