---
import { Icon } from "astro-icon/components";
---

<footer class="text-neutral-600 dark:text-neutral-300 w-full p-4">
    <hr class="border-neutral-300 dark:border-neutral-800 mb-4" />
    <div class="flex flex-row justify-between items-center">
        <div class="text-xs max-w-[50%]">
            Made with Astro, hosted on GitHub pages.
        </div>
        <div>
            <a
                href="https://github.com/steveiliop56/steveiliop56.github.io"
                target="_blank"
                aria-label="GitHub repository"
            >
                <Icon
                    name="tabler:brand-github"
                    class="size-8 hover:text-neutral-500 dark:hover:text-neutral-300 rounded-full border-neutral-300 dark:border-neutral-800 border p-2"
                />
            </a>
        </div>
    </div>
</footer>
