---
import { Icon } from "astro-icon/components";

const { icon, link, title } = Astro.props;
---

<a href={link}>
  <div
    class="flex items-center justify-center p-2 rounded-full bg-neutral-200 dark:bg-neutral-800"
  >
    <Icon name={icon} aria-label={title} class="size-5" />
  </div>
</a>
