---
import FooterLink from "./FooterLink.astro";

const date = new Date().getFullYear();
---

<footer>
  <div class="min-w-full flex flex-col justify-center items-center p-5 gap-2">
    <div class="flex flex-col gap-1 items-center justify-center">
      <p class="font-medium">
        Doesmycode.work &copy; {date}
      </p>
      <p>
        Powered by <a
          class="text-blue-600 dark:text-blue-400 hover:opacity-80 underline"
          href="https://astro.build">Astro</a
        >
      </p>
    </div>
    <div class="flex flex-row gap-1 items-center justify-center">
      <FooterLink
        title="Github"
        icon="tabler:brand-github"
        link="https://github.com/steveiliop56"
      />
      <FooterLink
        title="Email"
        icon="tabler:mail"
        link="mailto:steve@doesmycode.work"
      />
      <FooterLink
        title="Rss"
        icon="tabler:rss"
        link="/rss.xml"
      />
    </div>
  </div>
</footer>
