---
const date = new Date().getFullYear();
---

<footer class="w-full text-center mb-4">
  <p class="font-medium">
    Copyright {date} Doesmycode.work
  </p>
  <p>
    Powered by <a
      class="text-blue-600 dark:text-blue-400 hover:opacity-80 underline mt-2"
      href="https://astro.build">Astro</a
    >
  </p>
</footer>
