---
import Theme from "./theme.astro";
---

<div class="pl-8 md:px-[27.5%] pt-8 font-medium font-sans">
    <div
        class="flex flex-col md:flex-row items-start md:items-center md:justify-between gap-4 md:gap-0"
    >
        <h1 class="hover:text-neutral-900 dark:hover:text-neutral-200">
            Stavros <span class="text-blue-600 dark:text-blue-500"
                >@steveiliop56</span
            >
        </h1>
        <nav class="text-md flex flex-row items-center gap-4">
            <a
                href="/"
                class="hover:text-neutral-900 dark:hover:text-neutral-200"
                >Home</a
            >
            <a
                href="/projects"
                class="hover:text-neutral-900 dark:hover:text-neutral-200"
                >Projects</a
            >
            <a
                href="/blog"
                class="hover:text-neutral-900 dark:hover:text-neutral-200"
                >Blog</a
            >
            <Theme />
        </nav>
    </div>
</div>
