---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
import ThemeSwitch from "./ThemeSwitch.astro";

const navItems = [
  { link: "/", title: "Home" },
  { link: "/posts", title: "Posts" },
  { link: "/about", title: "About" },
  { link: "/projects", title: "Projects" },
];
---

<script>
  document.addEventListener("astro:page-load", () => {
    const openMenu = () => {
      const menu = document.getElementById("menu");
      const body = document.body;
      menu?.classList.remove("animate-fade-out");
      menu?.classList.add("animate-fade-in");
      menu?.classList.remove("hidden");
      menu?.classList.add("flex");
      body?.classList.add("overflow-hidden");
    };
    const closeMenu = () => {
      const menu = document.getElementById("menu");
      const body = document.body;
      menu?.classList.remove("animate-fade-in");
      menu?.classList.add("animate-fade-out");
      setTimeout(() => {
        menu?.classList.remove("flex");
        menu?.classList.add("hidden");
        body?.classList.remove("overflow-hidden");
      }, 200);
    };
    const menuOpen = document.getElementById("menu-open");
    const menuClose = document.getElementById("menu-close");
    menuOpen?.addEventListener("click", openMenu);
    menuClose?.addEventListener("click", closeMenu);
  });
</script>

<header
  class="sticky top-0 z-20 bg-opacity-30 dark:bg-opacity-30 backdrop-filter backdrop-blur-lg bg-neutral-50 dark:bg-neutral-950 border-b border-neutral-200 dark:border-neutral-800"
>
  <div class="flex items-center justify-between p-4">
    <div class="flex flex-row gap-2">
      <a href="/" class="text-2xl font-bold">Doesmycode.work</a>
      <ThemeSwitch />
    </div>
    <div class="hidden md:flex flex-row gap-4">
      {navItems.map((item) => <HeaderLink item={item} />)}
    </div>
    <div class="flex md:hidden">
      <Icon
        id="menu-open"
        class="size-7"
        name="tabler:menu-2"
        aria-label="Open menu"
      />
      <div
        id="menu"
        class="fixed top-0 left-0 h-dvh inset-0 bg-neutral-50 dark:bg-neutral-950 flex-col gap-4 items-center justify-center hidden"
      >
        <Icon
          id="menu-close"
          class="absolute top-5 right-5 size-7"
          name="tabler:x"
          aria-label="Close menu"
        />
        {navItems.map((item) => <HeaderLink item={item} />)}
      </div>
    </div>
  </div>
</header>
