---
const { link, title } = Astro.props;

const currentPath = Astro.url.pathname;

let isActive = false;

if (currentPath === link || (link !== "/" && currentPath.startsWith(link))) {
  isActive = true;
}
---

<a href={link}>
  <p class="font-medium text-lg">{title}</p>
  {isActive && <div class="rounded-full border-blue-600 border-2 mt-0.5" />}
</a>
