---
import { Icon } from "astro-icon/components";
import clsx from "clsx";

const { page } = Astro.props;
---

<nav
  class={clsx(
    "flex flex-row mt-4",
    page.url.prev ? "justify-between" : "justify-end",
    "min-w-full",
  )}
>
  {
    page.url.prev && (
      <a href={page.url.prev}>
        <div class="drop-shadow-sm border border-neutral-800 rounded-full py-3 px-4 hover:opacity-80">
          <Icon
            name="tabler:arrow-left"
            class="w-4 h-4 text-lg font-medium inline-block align-middle"
          />
          <p class="text-md font-medium inline-block align-middle ml-2">
            Previous
          </p>
        </div>
      </a>
    )
  }
  {
    page.url.next && (
      <a href={page.url.next}>
        <div class="drop-shadow-sm border border-neutral-800 rounded-full py-3 px-4 hover:opacity-80">
          <p class="text-md font-medium inline-block align-middle">Next</p>
          <Icon
            name="tabler:arrow-right"
            class="ml-2 w-4 h-4 text-lg font-medium inline-block align-middle"
          />
        </div>
      </a>
    )
  }
</nav>
