---
const { headings } = Astro.props;

interface Toc {
  slug: string;
  text: string;
  subheadings: Toc[];
}

const toc: Toc[] = [];

for (const heading of headings) {
  const { slug, text, depth } = heading;

  if (depth == 2) {
    toc.push({ slug, text, subheadings: [] });
  } else if (depth == 3) {
    toc[toc.length - 1].subheadings.push({ slug, text, subheadings: [] });
  }
}
---

{
  toc.length > 0 && (
    <div class="mt-4">
      <p class="text-xl font-semibold">Table of contents</p>
      <nav class="mt-2">
        <ul class="list-decimal list-inside text-md indent-2">
          {toc.map((heading) => (
            <li class="font-medium">
              <a
                href={`#${heading.slug}`}
                class="font-normal underline text-blue-600 dark:text-blue-500 hover:opacity-80"
              >
                {heading.text}
              </a>
              {heading.subheadings.length > 0 && (
                <ul class="list-decimal list-inside text-md indent-8">
                  {heading.subheadings.map((subheading) => (
                    <li class="font-medium">
                      <a
                        href={`#${subheading.slug}`}
                        class="font-normal underline text-blue-600 dark:text-blue-500 hover:opacity-80"
                      >
                        {subheading.text}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))}
        </ul>
      </nav>
    </div>
  )
}
