---
import ScrollToTopButton from "../components/ScrollToTopButton.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="About">
  <div
    class="flex flex-col flex-1 py-4 px-4 md:px-32 min-w-full justify-center"
  >
    <article
      class="prose dark:prose-invert prose-zinc prose-code:break-all prose-a:break-all min-w-full"
    >
      <slot />
    </article>
    <ScrollToTopButton />
  </div>
</BaseLayout>
