---
import ScrollToTopButton from "../components/ScrollToTopButton.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="About">
  <div class="flex flex-col p-4 justify-center items-center">
    <article
      class="prose dark:prose-invert prose-neutral prose-code:break-all prose-a:break-all max-w-5xl"
    >
      <slot />
    </article>
    <ScrollToTopButton />
  </div>
</BaseLayout>
