---
import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<script is:inline>
  function applyTheme() {
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.style.colorScheme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.style.colorScheme = "dark";
      document.documentElement.classList.add("dark");
    }
  }

  document.addEventListener("astro:after-swap", applyTheme);
  applyTheme();
</script>

<html lang="en">
  <head>
    <BaseHeader title={title} />
    <Header />
    <ViewTransitions />
  </head>
  <body
    class="bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-200 min-h-screen flex flex-col justify-between"
  >
    <slot />
  </body><footer>
    <Footer />
  </footer>
</html>
