---
import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import { cn } from "../lib/utils";

const { title } = Astro.props;
---

<script is:inline>
  function applyTheme() {
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.style.colorScheme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.style.colorScheme = "dark";
      document.documentElement.classList.add("dark");
    }
  }

  document.addEventListener("astro:after-swap", applyTheme);
  applyTheme();
</script>

<html lang="en">
  <head>
    <BaseHeader title={title} />
    <ViewTransitions />
  </head>
  <body
    class="bg-neutral-50 dark:bg-neutral-950 text-neutral-800 dark:text-neutral-300 min-h-dvh flex flex-col justify-between"
  >
    <Header />
    <div class="fixed h-dvh w-full">
      <div
        class={cn(
          "absolute inset-0",
          "[background-size:40px_40px]",
          "[background-image:linear-gradient(to_right,#e5e5e5_1px,transparent_1px),linear-gradient(to_bottom,#e5e5e5_1px,transparent_1px)]",
          "dark:[background-image:linear-gradient(to_right,#171717_1px,transparent_1px),linear-gradient(to_bottom,#171717_1px,transparent_1px)]",
        )}
      >
      </div>
      <div
        class="absolute inset-0 bg-neutral-50 dark:bg-neutral-950 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,#0a0a0a)] dark:[mask-image:radial-gradient(ellipse_at_center,transparent_20%,#fafafa)]"
      >
      </div>
    </div>
    <div class="flex-1 relative z-10 flex flex-col items-center justify-center overflow-hidden">
      <slot />
    </div>
    <Footer />
  </body>
</html>
